* {
    box-sizing: border-box;
    /*margin: 0*/
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;

    height: 100vh;
    display: flex;
    flex-direction: column;

    overflow-y: auto;
    overflow-x: hidden;

    --radius: 8px;

    font-size: 16px;
}

body {
    color: var(--color-text);
    background-color: var(--color-primary-dark-1)
}

img {
    /*noinspection CssInvalidPropertyValue*/
    image-rendering: -webkit-optimize-contrast;
}


*:focus {
    outline: var(--color-secondary-light-2) inset 1px;
}

a:active, a:focus {
    border: none;
    outline: none;
}

#content {
    flex-grow: 1;
    border-radius: var(--radius);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grow {
    flex-grow: 1;
}

/* Content wrapper */
#content {
    background-color: var(--color-primary-dark-3);
    padding: 1em;
    border: 1px solid var(--color-border-dark);;

    margin: 1em auto;
    width: 100%;
    max-width: 1400px;
}

/* HEADER STUFF */

#header {
    display: flex;
    align-items: center;

    width: 100%;
    height: 54px;
    padding: 0 24px;

    background-color: var(--color-primary-dark-3);
    border-bottom: 1px solid var(--color-border-dark);
}

#header > div {
    height: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
}

#header-logo img {
    display: block;
    height: 100%;
    aspect-ratio: 1;
}

#header-logo a:hover img:last-child {
    display: block !important;
}

#header-logo a:hover img:first-child {
    display: none;
}

#header form > * + * {
    margin-left: 10px;
}

.header-nav {
    display: flex;
    font-size: larger;
    margin: 0 16px;
}

.header-nav a {
    min-width: 50px;
    padding: 6px 12px;
    border-radius: var(--radius);
}

.header-nav a + a {
    margin-left: 8px;
}

.header-nav a:hover {
    background-color: var(--color-lighten-10);
    text-decoration: none;
}

/* FOOTER STUFF */
#footer {
    display: flex;
    align-items: center;

    width: 100%;
    padding: 6px 12px;

    background-color: var(--color-primary-dark-3);
    border-top: 1px solid var(--color-border-dark);
}

/* COLORS */

a {
    color: var(--color-link);
    text-decoration: none;
}

a:visited {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    color: var(--color-link-hover);
    text-decoration: underline;
}

/* BREADCRUMBS ARROWS */
.breadcrumbs {
    margin: 0.2em 1em 1em;
}

.breadcrumbs span.bc-board:not(:first-child)::before,
.breadcrumbs span.bc-thread:not(:first-child)::before {
    display: inline-block;
    content: "";

    height: 1em;
    aspect-ratio: 1;
    vertical-align: middle;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJoLTYgdy02IiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZT0iI0ZGRiIgc3Ryb2tlLW9wYWNpdHk9IjAuOSI+CiAgPHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik05IDVsNyA3LTcgNyIgLz4KPC9zdmc+");
}

.breadcrumbs span.bc-group {
    color: var(--color-text-semi-4);
}

/* Subboards table */
.flex-table {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

.flex-row.board {
    min-height: 70px;
}

.flex-row.thread {
    min-height: 50px;
}

#threads span {
    color: var(--color-text-semi-4);
}

.flex-row.thread {
    color: var(--color-text-semi-1)
}

.flex-row.thread > .thread-title {
    color: var(--color-text)
}

.flex-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    padding: 4px
}

.board-base,
.thread-base {
    flex-shrink: 1;
}

.thread-tag.thread-tag {
    color: var(--color-text-semi-4)
}

.board-name {
    font-size: large;
    font-weight: bold;
}

.board-desc {
    font-size: small;
}

.board-children {
    font-size: small;
    color: var(--color-text-semi-4);
}

.thread-counts {
    width: 100px;
}

.board-counts {
    width: 150px;
}

.thread-counts > *,
.board-counts > * {
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .thread-counts,
    .board-latest-post {
        display: none;
    }
}

@media only screen and (max-width: 850px) {
    .board-counts {
        display: none;
    }
}

.thread-latest-post {
    width: 150px;
    min-width: 0;
}

.board-latest-post {
    width: 250px;
    min-width: 0;
}

.thread-latest-post > *,
.board-latest-post > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 550px) {
    .thread-latest-post {
        display: none;
    }
}

.thread-author,
.counts-thread,
.latest-post-thread {
    font-size: small;
}

.flex-row.thread:hover,
.flex-row.board:hover {
    background-color: var(--color-lighten-02);
}

.flex-row.thread + .flex-row.thread,
.flex-row.board + .flex-row.board {
    border-top: 1px solid var(--color-darken-20);
}

.flex-row:last-child {
    margin-bottom: 5px;
}

/* GROUP COLLAPSING START */

.group-toggle {
    display: none;
}

.group-content {
    /*position: relative;*/
    padding-left: 10px;

    max-height: 10000px;
    overflow: hidden;
    border-left: 2px solid var(--color-darken-20);
    transition: max-height var(--t-fold-exp) var(--t-rad-exp) cubic-bezier(1, 0, 1, 0);
}

.group-toggle:checked + .group-header + .group-content {
    max-height: 0;
    transition: max-height var(--t-fold-con) cubic-bezier(0, 1, 0, 1);
}

.group-header {
    background-color: var(--color-darken-20);

    align-items: center;
    padding: 6px;
    height: 32px;

    cursor: pointer;
    user-select: none;
}

.flex-table > .group-header {
    font-size: larger;
    height: 50px;
}

.group-header::before {
    content: "›";
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.2em;
    margin-right: 0.5rem;
    transform: rotate(90deg);
    transform-origin: center 60%;
    transition: transform 0.2s ease-out;
}

.group-header.no-collapse {
    cursor: initial;
}

.group-header.no-collapse::before {
    visibility: hidden;
}

.group-toggle:checked + .group-header::before {
    transform: none;
}

/* Thread column headers */

.thread-columns .active-order::after {
    content: '';
    border: var(--color-text) solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 3px;
    transform-origin: 60% 40%;
}

.thread-columns .active-order.ascending::after {
    transform: rotate(-135deg) translateY(-2px);
}

.thread-columns .active-order.descending::after {
    transform: rotate(45deg) translateY(-2px);
}

.thread-columns a {
    color: var(--color-text);
    text-decoration: none;
}

.thread-columns {
    border-top: 2px dashed var(--color-primary-dark-3);
    background-color: var(--color-darken-20);
}

.thread-columns > .flex-cell {
    padding-left: 8px;
    padding-right: 8px;
}

/* Thread page navigation row */
.thread-page-nav {
    padding: 0 8px;
    background-color: var(--color-darken-20);
    justify-content: center;
    align-items: center;
    height: 30px;
    user-select: none;
}

.thread-page-nav:first-child {
    margin-top: 5px;
    border-radius: var(--radius) var(--radius) 0 0;
}

.thread-page-nav > .before,
.thread-page-nav > .after {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    flex-basis: 0;
}

.thread-page-nav > .before {
    text-align: right;
    justify-content: end;
    flex-direction: row-reverse;
}

.thread-page-nav > .current > a {
    font-weight: bold;
    font-size: larger;
    border-bottom: 2px solid var(--color-lighten-20);
}

.thread-page-nav > div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;

    --height: 25px;
    height: var(--height);
}

.thread-page-nav > div > a {
    display: inline-block;
    height: var(--height);
    padding: 0 8px;
    margin: 0 1px;

    line-height: var(--height);
    border-radius: 1em;
    border-bottom: 2px solid var(--color-darken-20);
}

.thread-page-nav div a:hover {
    text-decoration: none;
    background-color: var(--color-lighten-10);
}

.to-end,
.to-start {
    display: block;
    height: 26px;
    width: 20px;
    margin: 2px 5px;

    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.to-end {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJoLTYgdy02IiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZT0iI0ZGRiIgc3Ryb2tlLW9wYWNpdHk9IjAuOSI+CiAgPHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik0xMyA1bDcgNy03IDdNNSA1bDcgNy03IDciIC8+Cjwvc3ZnPg==");
}

.to-start {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJoLTYgdy02IiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLW9wYWNpdHk9IjAuOSI+CiAgPHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik0xMSAxOWwtNy03IDctN204IDE0bC03LTcgNy03IiAvPgo8L3N2Zz4=");
}

/* Header radius stuff */

.flex-table {
    --t-fold-exp: 0.2s;
    --t-fold-con: 0.2s;
    --t-rad-exp: 0.1s;
    --t-rad-con: 0.1s;
}

.group-header {
    margin-bottom: 0;
    border-top: 0 dashed var(--color-primary-dark-3);
    transition: border-radius var(--t-rad-exp),
    border-top-width calc(var(--t-fold-exp) / 4) calc(var(--t-fold-exp) / 2 + var(--t-rad-exp)),
    margin-bottom var(--t-rad-exp);
}

.group-header:first-of-type {
    border-radius: var(--radius) var(--radius) 0 0;
    transition: border-radius var(--t-rad-exp),
    margin-bottom var(--t-rad-exp);
}

*:not(.flex-table) > .group-header:nth-child(2),
.group-toggle + .group-header + .group-content + .group-toggle + .group-header {
    border-radius: 0;
    transition: border-radius var(--t-rad-exp),
    border-top-width calc(var(--t-fold-con) / 4) calc(var(--t-fold-exp) / 2),
    margin-bottom var(--t-rad-exp);
}

.group-toggle:checked + .group-header.group-header:last-of-type:first-of-type {
    border-radius: var(--radius);
    transition: border-radius var(--t-rad-con) var(--t-fold-con),
    margin-bottom var(--t-rad-con) var(--t-fold-con);
}

.group-toggle:checked + .group-header.group-header:last-of-type {
    border-radius: 0 0 var(--radius) var(--radius);
    margin-bottom: 5px;
    transition: border-radius var(--t-rad-con) var(--t-fold-con),
    border-top-width calc(var(--t-fold-con) / 4) calc(var(--t-fold-exp) / 2),
    margin-bottom var(--t-rad-con) var(--t-fold-con);
}

*:not(.flex-table) > .group-header:nth-child(2),
.group-toggle:checked + .group-header + .group-content + .group-toggle + .group-header {
    border-top-width: 2px;
}

/* GROUP COLLAPSING END*/

/* NEW THREAD */
#new-thread,
#new-thread-toggle.default-open:checked + #new-thread {
    max-height: 0;
    transition: max-height var(--t-fold-con) cubic-bezier(0, 1, 0, 1);
}

#new-thread-toggle:checked + #new-thread,
#new-thread-toggle.default-open {
    max-height: 10000px;
    transition: max-height var(--t-fold-exp) cubic-bezier(1, 0, 1, 0);
}

#new-thread-button {
    margin: 0 8px;
}

#new-thread-button,
#new-thread-submit {
    color: var(--color-text-inverted);
    height: 32px;
    padding: 0 12px;

    font-size: large;
    background-color: var(--color-secondary);

    border-radius: var(--radius);
    cursor: pointer;

    border: var(--color-secondary-light-1) outset 2px;
}

#new-thread-button:active,
#new-thread-submit:active {
    border-style: inset;
}

#new-thread-submit {
    min-width: 200px;
}

#new-thread-tags {
    min-width: 300px;
    flex-grow: 1;
}

#new-thread-form > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

#new-thread {
    display: flex;
    justify-content: center;
}

#new-thread-form {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

#new-thread-form > * {
    margin: 2px;
}

#new-thread-title {
    font-size: larger;
}

#new-thread-content {
    height: 200px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    padding: 6px 8px;

    border-radius: var(--radius);
    color: var(--color-text);
    background-color: var(--color-darken-20);

    border: 2px solid var(--color-border-light);
}

textarea {
    font-family: 'Source Serif Pro', serif;
    resize: none;
}

/* REGISTER STUFF */
td {
    padding-right: 10px;
    padding-bottom: 5px;
}

.error {
    color: rgb(224, 21, 21);
    font-size: 24px;
}

/* Displaying posts in threads */
.post {
    background-color: var(--color-primary-dark-5);
    margin: 10px 0;
    display: flex;
    border-radius: 5px;
}

.post-user {
    text-align: center;
    flex-basis: 120px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
}

.post-user > * {
    margin: 5px 0;
}

.post-user-name {
    font-size: 1.3em;
    margin: 0;
}

.post-divider {
    background-color: var(--color-primary-dark-1);
    flex-basis: 3px;
    flex-grow: 0;
    flex-shrink: 0;
}

.post-content-container {
    margin: 8px 14px;
}

.post-content-container .post-content-date {
    font-size: 1.2em;
    margin-bottom: 8px;
}

.post-content {
    text-align: justify;
}

.readmore {
    cursor: pointer;
}

/* New Post */
.new-post-textarea {
    background-color: var(--color-primary-dark-5);
    outline: none;
    border-radius: 5px;
    border: none;
    resize: none;
    overflow-y: auto;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    color: var(--color-text);
    font-size: 16px;
}

.button {
    color: var(--color-text-inverted);
    padding: 6px 12px;
    font-size: 28px;
    background-color: var(--color-secondary-dark-1);
    border-radius: 5px;
    transition: 0.2s;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
.button:hover {
    background-color: var(--color-secondary-light-2);
}

.button-submit-post {
    margin-top: 5px;
}

/* Images */

.post-user-image {
    width: 128px;
    height: 128px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    border: 1px solid var(--color-border-dark);
}

.header-user-image {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-left: 5px;
    border: 1px solid var(--color-border-dark);
    display: block;
}

.profile-user-image-label {
    cursor: pointer;
    border: 2px solid var(--color-border-dark);
    display: block;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.2s;
}

.profile-user-image {
    width: 256px;
    height: 256px;
    display: block;
}
.profile-image-hover-text {
    opacity: 0;
    position: absolute;
    text-align: center;
    font-size: 36px;
    transition: 0.2s;
    position: absolute;
    margin-left: 10px;
    text-shadow: 2px 0px 1px var(--color-primary-dark-7), 
                 0px 2px 1px var(--color-primary-dark-7), 
                -2px 0px 1px var(--color-primary-dark-7),
                 0px -2px 1px var(--color-primary-dark-7);
}

.profile-user-image-label:hover {
    border-color: var(--color-border-light);
}

.profile-user-image-label:hover .profile-image-hover-text {
    opacity: 1;
}

.profile-user-information {
    margin-left: 25px;
    margin-top: 10px;
}

.profile-information-header {
    color: var(--color-text);
    font-size: 20px;
    font-weight: bold;
}

.profile-information-data {
    margin-left: 10px;
    color: var(--color-text-semi);
}

/* Profile top bar */
.profile-top-bar {
    background-color: var(--color-primary-dark-4);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
}

.profile-name {
    font-size: 34px;
    font-weight: bold;
    color: var(--color-secondary-light-3);
}

.profile-settings-button {
    transition: 0.2s;
}
.profile-settings-button:hover {
    background-color: var(--color-secondary-light-2);
}
.profile-settings-button:before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M2 12c0-.865.11-1.703.316-2.504A3 3 0 0 0 4.99 4.867a9.99 9.99 0 0 1 4.335-2.505 3 3 0 0 0 5.348 0 9.99 9.99 0 0 1 4.335 2.505 3 3 0 0 0 2.675 4.63c.206.8.316 1.638.316 2.503 0 .865-.11 1.703-.316 2.504a3 3 0 0 0-2.675 4.629 9.99 9.99 0 0 1-4.335 2.505 3 3 0 0 0-5.348 0 9.99 9.99 0 0 1-4.335-2.505 3 3 0 0 0-2.675-4.63C2.11 13.704 2 12.866 2 12zm4.804 3c.63 1.091.81 2.346.564 3.524.408.29.842.541 1.297.75A4.993 4.993 0 0 1 12 18c1.26 0 2.438.471 3.335 1.274.455-.209.889-.46 1.297-.75A4.993 4.993 0 0 1 17.196 15a4.993 4.993 0 0 1 2.77-2.25 8.126 8.126 0 0 0 0-1.5A4.993 4.993 0 0 1 17.195 9a4.993 4.993 0 0 1-.564-3.524 7.989 7.989 0 0 0-1.297-.75A4.993 4.993 0 0 1 12 6a4.993 4.993 0 0 1-3.335-1.274 7.99 7.99 0 0 0-1.297.75A4.993 4.993 0 0 1 6.804 9a4.993 4.993 0 0 1-2.77 2.25 8.126 8.126 0 0 0 0 1.5A4.993 4.993 0 0 1 6.805 15zM12 15a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0-2a1 1 0 1 0 0-2 1 1 0 0 0 0 2z'/%3E%3C/svg%3E");
    height: 1.3em;
    aspect-ratio: 1;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    transition: 0.2s;
}
.profile-settings-button:hover:before {
    transform: rotate(30deg);
}

.div-link, .div-link:hover {
    text-decoration: none;
    border-radius: 5px;
}

/* User profile information */
.profile-user-information-container {
    margin-top: 10px;
    display: flex;
}

/* MISC STUFF */
.highlight-post {
    background-color: var(--color-lighten-10);
    box-shadow: 0 0 10px var(--color-border-light) inset;
}
