* {
    box-sizing: border-box;
    /*margin: 0*/
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;

    height: 100vh;
    display: flex;
    flex-direction: column;

    overflow-y: auto;
    overflow-x: hidden;

    --radius: 8px;
}

body {
    color: var(--color-text);
    background-color: var(--color-primary-dark-1)
}

img {
    /*noinspection CssInvalidPropertyValue*/
    image-rendering: -webkit-optimize-contrast;
}


*:focus {
    outline: var(--color-secondary-light-2) inset 1px;
}

a:active, a:focus {
    border: none;
    outline: none;
}

#content {
    flex-grow: 1;
    border-radius: var(--radius);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grow {
    flex-grow: 1;
}

/* Content wrapper */
#content {
    background-color: var(--color-primary-dark-3);
    padding: 1em;
    border: 1px solid var(--color-border-dark);;

    margin: 1em auto;
    width: 100%;
    max-width: 1400px;
}

/* HEADER STUFF */

#header {
    display: flex;
    align-items: center;

    width: 100%;
    height: 54px;
    padding: 0 24px;

    background-color: var(--color-primary-dark-3);
    border-bottom: 1px solid var(--color-border-dark);
}

#header > div {
    height: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
}

#header-logo img {
    display: block;
    height: 100%;
    aspect-ratio: 1;
}

#header-logo a:hover img:last-child {
    display: block !important;
}

#header-logo a:hover img:first-child {
    display: none;
}

#header form > * + * {
    margin-left: 10px;
}

.header-nav {
    display: flex;
    font-size: larger;
    margin: 0 16px;
}

.header-nav a {
    min-width: 50px;
    padding: 6px 12px;
    border-radius: var(--radius);
}

.header-nav a + a {
    margin-left: 8px;
}

.header-nav a:hover {
    background-color: var(--color-lighten-10);
    text-decoration: none;
}

/* FOOTER STUFF */
#footer {
    display: flex;
    align-items: center;

    width: 100%;
    padding: 6px 12px;

    background-color: var(--color-primary-dark-3);
    border-top: 1px solid var(--color-border-dark);
}

/* COLORS */

a {
    color: var(--color-link);
    text-decoration: none;
}

a:visited {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    color: var(--color-link-hover);
    text-decoration: underline;
}

/* BREADCRUMBS ARROWS */
.breadcrumbs {
    margin: 0.2em 1em 1em;
}

.breadcrumbs span.bc-board:not(:first-child)::before,
.breadcrumbs span.bc-thread:not(:first-child)::before {
    display: inline-block;
    content: "";

    height: 1em;
    aspect-ratio: 1;
    vertical-align: middle;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJoLTYgdy02IiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZT0iI0ZGRiIgc3Ryb2tlLW9wYWNpdHk9IjAuOSI+CiAgPHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik05IDVsNyA3LTcgNyIgLz4KPC9zdmc+");
}

.breadcrumbs span.bc-group {
    color: var(--color-text-semi-4);
}

/* Subboards table */
.flex-table {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

.flex-row.board {
    min-height: 70px;
}

.flex-row.thread {
    min-height: 50px;
}

#threads span {
    color: var(--color-text-semi-4);
}

.flex-row.thread {
    color: var(--color-text-semi-1)
}

.flex-row.thread > .thread-title {
    color: var(--color-text)
}

.flex-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    padding: 4px
}

.board-base,
.thread-base {
    flex-shrink: 1;
}

.board-name {
    font-size: large;
    font-weight: bold;
}

.board-desc {
    font-size: small;
}

.board-children {
    font-size: small;
    color: var(--color-text-semi-4);
}

.thread-counts {
    width: 100px;
}

.board-counts {
    width: 150px;
}

.thread-counts > *,
.board-counts > * {
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .thread-counts,
    .board-latest-post {
        display: none;
    }
}

@media only screen and (max-width: 850px) {
    .board-counts {
        display: none;
    }
}

.thread-latest-post {
    width: 150px;
    min-width: 0;
}

.board-latest-post {
    width: 250px;
    min-width: 0;
}

.thread-latest-post > *,
.board-latest-post > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 550px) {
    .thread-latest-post {
        display: none;
    }
}

.thread-author,
.counts-thread,
.latest-post-thread {
    font-size: small;
}

.flex-row.thread:hover,
.flex-row.board:hover {
    background-color: var(--color-lighten-02);
}

.flex-row.thread + .flex-row.thread,
.flex-row.board + .flex-row.board {
    border-top: 1px solid var(--color-darken-20);
}

.flex-row:last-child {
    margin-bottom: 5px;
}

/* GROUP COLLAPSING START */

.group-toggle {
    display: none;
}

.group-content {
    /*position: relative;*/
    padding-left: 10px;

    max-height: 10000px;
    overflow: hidden;
    border-left: 2px solid var(--color-darken-20);
    transition: max-height var(--t-fold-exp) var(--t-rad-exp) cubic-bezier(1, 0, 1, 0);
}

.group-toggle:checked + .group-header + .group-content {
    max-height: 0;
    transition: max-height var(--t-fold-con) cubic-bezier(0, 1, 0, 1);
}

.group-header {
    background-color: var(--color-darken-20);

    align-items: center;
    padding: 6px;
    height: 32px;

    cursor: pointer;
    user-select: none;
}

.flex-table > .group-header {
    font-size: larger;
    height: 50px;
}

.group-header::before {
    content: "›";
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.2em;
    margin-right: 0.5rem;
    transform: rotate(90deg);
    transform-origin: center 60%;
    transition: transform 0.2s ease-out;
}

.group-header.no-collapse {
    cursor: initial;
}

.group-header.no-collapse::before {
    visibility: hidden;
}

.group-toggle:checked + .group-header::before {
    transform: none;
}

/* Thread column headers */

.thread-columns .active-order::after {
    content: '';
    border: var(--color-text) solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 3px;
    transform-origin: 60% 40%;
}

.thread-columns .active-order.ascending::after {
    transform: rotate(-135deg) translateY(-2px);
}

.thread-columns .active-order.descending::after {
    transform: rotate(45deg) translateY(-2px);
}

.thread-columns a {
    color: var(--color-text);
    text-decoration: none;
}

.thread-columns {
    border-top: 2px dashed var(--color-primary-dark-3);
    background-color: var(--color-darken-20);
}

.thread-columns > .flex-cell {
    padding-left: 8px;
    padding-right: 8px;
}

/* Thread page navigation row */
.thread-page-nav {
    padding: 0 8px;
    background-color: var(--color-darken-20);
    justify-content: center;
    align-items: center;
    height: 30px;
}

.thread-page-nav:first-child {
    margin-top: 5px;
    border-radius: var(--radius) var(--radius) 0 0;
}

.thread-page-nav > .before,
.thread-page-nav > .after {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    flex-basis: 0;
}

.thread-page-nav > .before {
    text-align: right;
    justify-content: end;
    flex-direction: row-reverse;
}

.thread-page-nav > .current > a {
    font-weight: bold;
    font-size: larger;
    border-bottom: 2px solid var(--color-lighten-20);
}

.thread-page-nav > div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;

    --height: 25px;
    height: var(--height);
}

.thread-page-nav > div > a {
    display: inline-block;
    height: var(--height);
    padding: 0 8px;
    margin: 0 1px;

    line-height: var(--height);
    border-radius: 1em;
    border-bottom: 2px solid var(--color-darken-20);
}

.thread-page-nav div a:hover {
    text-decoration: none;
    background-color: var(--color-lighten-10);
}

.to-end,
.to-start {
    display: block;
    height: 26px;
    width: 20px;
    margin: 2px 5px;

    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.to-end {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJoLTYgdy02IiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZT0iI0ZGRiIgc3Ryb2tlLW9wYWNpdHk9IjAuOSI+CiAgPHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik0xMyA1bDcgNy03IDdNNSA1bDcgNy03IDciIC8+Cjwvc3ZnPg==");
}

.to-start {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJoLTYgdy02IiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLW9wYWNpdHk9IjAuOSI+CiAgPHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik0xMSAxOWwtNy03IDctN204IDE0bC03LTcgNy03IiAvPgo8L3N2Zz4=");
}

/* Header radius stuff */

.flex-table {
    --t-fold-exp: 0.2s;
    --t-fold-con: 0.2s;
    --t-rad-exp: 0.1s;
    --t-rad-con: 0.1s;
}

.group-header {
    margin-bottom: 0;
    border-top: 0 dashed var(--color-primary-dark-3);
    transition: border-radius var(--t-rad-exp),
    border-top-width calc(var(--t-fold-exp) / 4) calc(var(--t-fold-exp) / 2 + var(--t-rad-exp)),
    margin-bottom var(--t-rad-exp);
}

.group-header:first-of-type {
    border-radius: var(--radius) var(--radius) 0 0;
    transition: border-radius var(--t-rad-exp),
    margin-bottom var(--t-rad-exp);
}

*:not(.flex-table) > .group-header:nth-child(2),
.group-toggle + .group-header + .group-content + .group-toggle + .group-header {
    border-radius: 0;
    transition: border-radius var(--t-rad-exp),
    border-top-width calc(var(--t-fold-con) / 4) calc(var(--t-fold-exp) / 2),
    margin-bottom var(--t-rad-exp);
}

.group-toggle:checked + .group-header.group-header:last-of-type:first-of-type {
    border-radius: var(--radius);
    transition: border-radius var(--t-rad-con) var(--t-fold-con),
    margin-bottom var(--t-rad-con) var(--t-fold-con);
}

.group-toggle:checked + .group-header.group-header:last-of-type {
    border-radius: 0 0 var(--radius) var(--radius);
    margin-bottom: 5px;
    transition: border-radius var(--t-rad-con) var(--t-fold-con),
    border-top-width calc(var(--t-fold-con) / 4) calc(var(--t-fold-exp) / 2),
    margin-bottom var(--t-rad-con) var(--t-fold-con);
}

*:not(.flex-table) > .group-header:nth-child(2),
.group-toggle:checked + .group-header + .group-content + .group-toggle + .group-header {
    border-top-width: 2px;
}

/* GROUP COLLAPSING END*/

/* NEW THREAD */
#new-thread {
    max-height: 0;
    transition: max-height var(--t-fold-con) cubic-bezier(0, 1, 0, 1);
}

#new-thread-toggle:checked + #new-thread {
    max-height: 10000px;
    transition: max-height var(--t-fold-exp) cubic-bezier(1, 0, 1, 0);
}

#new-thread-button {
    margin: 0 8px;
}

#new-thread-button,
#new-thread-form > input[type="submit"]{
    color: var(--color-text-inverted);
    height: 32px;
    padding: 0 12px;

    font-size: large;
    background-color: var(--color-secondary);

    border-radius: var(--radius);
    cursor: pointer;

    border: var(--color-secondary-light-1) outset 2px;
}

#new-thread-button:active,
#new-thread-form > input[type="submit"]:active {
    border-style: inset;
}

#new-thread-form > input[type="submit"] {
    max-width: 200px;
}

#new-thread {
    display: flex;
    justify-content: center;
}

#new-thread-form {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    margin: 10px 0;
}

#new-thread-form > * {
    margin: 2px;
    width: 100%;
}

#new-thread-form > input[name="title"] {
    padding: 8px;
    font-size: larger;
}

#new-thread-form > textarea {
    height: 200px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    padding: 3px;

    border-radius: var(--radius);
    color: var(--color-text);
    background-color: var(--color-darken-20);

    border-color: var(--color-border-light);
    border-style: solid;
}

textarea {
    padding: 8px;
    font-family: 'Source Serif Pro', serif;
    resize: none;
}

/* REGISTER STUFF */
td {
    padding-right: 10px;
    padding-bottom: 5px;
}

.error {
    color: rgb(167, 45, 45);
}

/* MISC STUFF */
.highlight-post {
    background-color: var(--color-lighten-10);
}
