* {
    box-sizing: border-box;
    /*margin: 0*/
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;

    height: 100vh;
    display: flex;
    flex-direction: column;

    overflow-y: auto;
    overflow-x: hidden;
}

img {
    /*noinspection CssInvalidPropertyValue*/
    image-rendering: -webkit-optimize-contrast;
}

*:focus {
    outline: var(--color-secondary-light-2) inset 1px;
}

a:active, a:focus {
    border:none;
    outline: none;
}

#content {
    flex-grow: 1;
}

.expander {
    flex-grow: 1;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HEADER STUFF */

#header {
    display: flex;
    align-items: center;

    width: 100%;
    height: 54px;
    padding: 0 24px;

    border-bottom: 1px solid var(--color-border-dark);
}

#header > * {
    height: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
}

#header-logo img {
    display: block;
    height: 100%;
    aspect-ratio: 1;
}

#header-logo a:hover img:last-child {
    display: block !important;
}
#header-logo a:hover img:first-child {
    display: none;
}

#header form > * + * {
    margin-left: 10px;
}

#header-nav {
    display: flex;
    font-size: larger;
    margin: 0 16px;
}

#header-nav a {
    min-width: 50px;
    padding: 0 12px;
    border-radius: 5px;
}

#header-nav a + a {
    margin-left: 8px;
}

#header-nav a:hover {
    background-color: var(--color-lighten-10);
    text-decoration: none;
}

/* FOOTER STUFF */
#footer {
    display: flex;
    align-items: center;

    width: 100%;
    padding: 6px 12px;

    border-top: 1px solid var(--color-border-dark);
}

/* COLORS */
body {
    color: var(--color-text);
    background-color: var(--color-primary-dark-1)
}

#header, #footer {
    background-color: var(--color-primary-dark-3)
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:visited {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    color: var(--color-link-hover);
    text-decoration: underline;
}

/* BREADCRUMBS ARROWS */
.breadcrumbs span:not(:last-child)::after {
    content: "";
    display: inline-block;
    
    height: 1.2em;
    aspect-ratio: 1;
    vertical-align: middle;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzMwMHB4JyB3aWR0aD0nMzAwcHgnICBmaWxsPSIjZmZmZmZmIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjAiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgOTUgOTUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDk1IDk1OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbC1ydWxlOmV2ZW5vZGQ7Y2xpcC1ydWxlOmV2ZW5vZGQ7fQo8L3N0eWxlPjxwb2x5Z29uIGNsYXNzPSJzdDAiIHBvaW50cz0iNzIuNSw0Ny41IDIyLjUsMjIuNSAzOS43LDQ3LjUgMjIuNSw3Mi41IDcyLjUsNDcuNSAiPjwvcG9seWdvbj48L3N2Zz4=");
}

/* Content wrapper */
#content {
    width: 100%;
    max-width: 1400px;
    margin: 1em auto;

    background-color: var(--color-primary-dark-3);
    padding: 2em 1em;
    border: 1px solid var(--color-border-dark);;
}
