{{- /*gotype: forum/internal/pages.forumData*/ -}}
{{ define "subcats" }}
    <table id="categories">
        <thead>
        <colgroup>
            <col class="category">
            <col class="threads">
            <col class="posts">
            <col class="latest">
        </colgroup>
        <tr>
            <th>Forum</th>
            <th>Threads</th>
            <th>Posts</th>
            <th>Last post</th>
        </tr>
        </thead>
        <tbody>
        {{ range .ChildCats }}
            <tr>
                <td class="left-align">
                    <a class="cat-name" href="/forum?id={{ .CategoryID }}">{{ .Name }}</a>
                    <br>
                    <span class="cat-desc">{{ .Description.String }}</span>
                </td>
                {{ with .Extras }}
                    <td>{{ .CountThreads }}</td>
                    <td>{{ .CountPosts }}</td>
                    <td>
                        <a class="latest-date" title="{{ .ThreadTitle }}"
                           href="/thread?id={{ .ThreadID }}&post={{ .LatestID }}#{{ .LatestID }}">
                            {{ .LatestDate.Format "2 Jan 2006, 15:04" }}
                        </a>
                        <br>
                        <a class="latest-author" href="/user?id={{ .LatestAuthorID }}">
                            {{ .LatestAuthor }}
                        </a>
                    </td>
                {{ end }}
            </tr>
        {{ end }}
        </tbody>
    </table>
{{ end }}
