{{- /*gotype: board/internal/pages.boardData*/ -}}
{{ define "content" }}
    <div class="breadcrumbs">
        {{ range .Breadcrumbs -}}
            {{- if .IsGroup -}}
                <span class="bc-group">/{{ .Name }}</span>
            {{- else -}}
                <span class="bc-board"><a href="/board?id={{ .BoardID }}">{{ .Name }}</a></span>
            {{- end -}}
        {{- end }}
    </div>
    {{ if .ChildBoards }}
        {{ template "subboards" . }}
    {{ end }}
    <h3>Threads</h3>
    <ul>
        {{ range .Threads }}
            <li><a href="/thread?id={{ .ThreadID }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
    {{ if and (ne .GenericData.User.UserID 0) (ne .BoardID 0) }}
    <form method="POST">
        <label>Title: <input type="text" name="title" id="" required pattern=".*\S+.*"></label>
        <label>Post: <textarea name="post" id="" cols="30" rows="10" required=""></textarea></label>
        <input type="submit" value="submit">
    </form>
    {{ end }}
{{ end }}
