{{- /*gotype: forum/internal/pages.boardData*/ -}}
{{ define "content" }}
    <div class="breadcrumbs">
        {{ range .Breadcrumbs -}}
            {{- if .IsGroup -}}
                <span class="bc-group">/{{ .Name }}</span>
            {{- else -}}
                <span class="bc-board"><a href="/board?id={{ .BoardID }}">{{ .Name }}</a></span>
            {{- end -}}
        {{- end }}
    </div>
    {{ if or .ChildBoards (and (ne .ThisBoard.BoardID 0) (not .ThisBoard.IsGroup)) }}
        <div class="flex-table">
            {{ if .ChildBoards }}
                {{ template "boardList" . }}
            {{ end }}
            {{ if and (ne .ThisBoard.BoardID 0) (not .ThisBoard.IsGroup) }}
                {{ template "threadList" . }}
            {{ end }}
        </div>
    {{ else }}
        <h2>There doesn't seem to be anything here :(<br><br>Go back <a href="/">home</a>?</h2>
    {{ end }}
{{ end }}
