{{- /*gotype: forum/internal/pages.registerData*/ -}}
{{ define "content" }}
<h3> Register </h3>
<form method="POST" action="/register" class="register-form" novalidate>
    <table class="register-form">
        <tr>
            <td><label>Username</label>: </td>
            <td><input name="username" type="text" id="username" value="{{ .Inputs.Get "username" }}" /></td>
            {{ if .Errors.Username }}
            <td class="error">{{ .Errors.Username }}</td>
            {{else}}
            <td>Length must be between 4 and 12 characters.</td>
            {{ end }}
        </tr>

        <tr>
            <td><label>First name</label>: </td>
            <td><input name="first-name" type="text" id="first-name" /></td>
            <td class="error">{{ if .Errors.Firstname }}{{ .Errors.Firstname }}{{ end }}</td>
        </tr>

        <tr>
            <td><label>Last name</label>: </td>
            <td><input name="last-name" type="text" id="last-name" /></td>
            <td class="error">{{ if .Errors.Lastname }}{{ .Errors.Lastname }}{{ end }}</td>
        </tr>

        <tr>
            <td><label>Date of Birth</label>: </td>
            <td><input name="date-of-birth" type="date" id="date-of-birth" /></td>
            <td class="error">{{ if .Errors.Age }}{{ .Errors.Age }}{{ end }}</td>
        </tr>

        <tr>           
            <td><label>Gender</label>:</td> <td>
                
                <input name="gender" id="male" type="radio" value="Male">
                <label for="male">Male</label><br>
                <input name="gender" id="female" type="radio" value="Female">
                <label for="female">Female</label><br>

            </td>
            <td class="error">{{ if .Errors.Gender }}{{ .Errors.Gender }}{{ end }}</td>
        </tr>

        <tr>
            <td><label>Password</label>: </td>
            <td><input name="password" type="password", id="password"/></td>
            {{ if .Errors.Password }}
            <td class="error"> {{ .Errors.Password }}</td>
            {{else}}
            <td>Length must be between 6 and 128 characters. </td>
            {{ end }}
        </tr>

        <tr>
            <td><label>Confirm password</label>: </td>
            <td><input name="confirm-password" type="password" id="password" /></td>
            <td class="error">{{ if .Errors.Password2 }}{{ .Errors.Password2 }}{{ end }}</td>
        </tr>

        <tr>
            <td><label>E-mail</label>: </td>
            <td><input name="email" type="email" value="{{ .Inputs.Get "email" }}"></td>
            <td class="error">{{ if .Errors.Email }}{{ .Errors.Email }}{{ end }}</td>
        </tr>

        <tr>
            <td><label>Confirm e-mail</label>: </td>
            <td><input name="confirm-email" type="email" value="{{ .Inputs.Get "confirm-email" }}"></td>
            <td class="error">{{ if .Errors.Email2 }}{{ .Errors.Email2 }}{{ end }}</td>
        </tr>
    </table>
    <input class="button" type="submit" value="Register" />
</form>
{{ end }}
