{{ define "content" }}
    <span>
        {{ range .Breadcrumbs}}
            <a href="/forum?id={{ .CategoryID }}">{{ .Name }}</a> >
        {{ end }}
        <a href="/thread?id={{ .Thread.ThreadID }}">{{ .Thread.Title }}</a>
    </span>
    <h3>Posts</h3>
    {{ range .Posts }}
        <hr>
        <div>
            <div>
                <span>{{ .Date.Format "2 Jan 2006, 15:04" }}</span>
                <br>
                <a href="/user?id={{.User.UserID}}">{{ .User.Name }}</a>
            </div>
            <p>{{ .Content }}</p>
        </div>
    {{ end }}
{{ end }}
