{{- /*gotype: forum/internal/pages.ThreadData*/ -}}
{{ define "content" }}
    <div class="breadcrumbs">
        {{ range .Breadcrumbs -}} {{- if .IsGroup -}}
            <span class="bc-group">/{{ .Name }}</span> {{- else -}}
            <span class="bc-board"><a href="/board?id={{ .BoardID }}">{{ .Name }}</a></span> {{- end -}} {{- end }}
        <span class="bc-thread"><a href="/thread?id={{ .Thread.ThreadID }}">{{ .Thread.Title }}</a></span>
    </div>

    <div class="flex-table">
        <div class="group-toggle" style="display: none;"></div>
        <label id="threads" class="flex-row group-header no-collapse">{{ .Thread.Title }}</label>
        <div class="group-content">
            {{ .PostsSearch.GetResult }}

            <div id="new-reply" class="flex-row">
                {{ if eq .GenericData.User.UserID 0 }}
                    <p>Please <a href="/login">Login</a> or <a href="/register">Register</a> to post</p>
                {{ else }}
                    <form method="POST">
                        <textarea name="post" id="" cols="30" rows="10" class="new-post-textarea"
                                  placeholder="Write Some Bullshit..." required></textarea>
                        <button type="submit" class="button-submit-post button">Submit</button>
                    </form>
                {{ end }}
            </div>
        </div>
    </div>
{{ end }}
