{{ define "chat" }}
    <div id="chat" class="fixed-container" hidden>
        <div class="chat-container">
            <!-- HEADER -->
            <div class="chat-header">
                <div class="chat-title-container">
                    <h1 class="chat-title">REAL-TIME CHAT</h1>
                </div>
                <div id="chat-close-button">
                    {{ template "svg-close" . }}
                </div>
            </div>
            <!-- BODY -->
            <div class="chat-body">
                <!-- Sidebar -->
                <div class="chat-sidebar">
                    <div>
                        <div class="chat-sidebar-header-container">
                            <h2 class="chat-sidebar-header">Recent Messages</h2>
                        </div>
                        <ul class="chat-sidebar-user-list" id="chat-recent-users"></ul>
                    </div>
                    <div>
                        <div class="chat-sidebar-header-container">
                            <h2 class="chat-sidebar-header">Online Users</h2>
                        </div>
                        <ul class="chat-sidebar-user-list" id="chat-online-users"></ul>
                    </div>
                </div>
                <!-- Messager -->
                <div class="chat-messanger-container">
                    <div class="chat-user open-chat-user">
                        <img class="chat-user-image" src="/profile-pictures/0-0.png" id="open-chat-user-image">
                        <div class="chat-user-name" id="open-chat-user-name">No chat open...</div>
                    </div>
                    <!-- Messages -->
                    <div id="chat-messages"></div>
                    <div class="chat-message-form-container">
                        <form action="" id="chat-form">
                            <input id="chat-message-input" type="text" placeholder="Message..." required autocomplete="off">
                        </form>
                    </div>
                </div>
            </div>
            <!-- FOOTER -->
            <div class="chat-footer">
                <div class="chat-version-container">
                    <i class="chat-version">v0.1</i>
                </div>
            </div>
        </div>
    </div>
{{ end }}