{{- /*gotype: board/forumEnv.GenericData*/ -}} {{ define "header" }}
<header id="header">
    <div id="header-logo">
        <a href="/">
            <img src="/img/logo.png" alt="Home">
            <img src="/img/logo-hover.png" alt="Home" style="display: none;">
        </a>
    </div>

    <nav class="header-nav">
        <a href="https://www.google.com/">Page 1</a>
        <a href="https://www.wikipedia.org">Page 2</a>
        <a href="https://www.powerhub.com">Page 3</a>
    </nav>

    <div class="grow"></div>
    {{ if eq .GenericData.User.UserID 0 }}
    <nav class="header-nav">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </nav>
    {{ else }}
    <span>Welcome, <a href="/user?id={{ .GenericData.User.UserID }}">{{ .GenericData.User.Name }}</a>!</span>
    <img class="header-user-image" src="/profile-pictures/{{ .GenericData.User.Image }}" alt="ERROR: Image file does not exist">
    <nav class="header-nav">
        <a href="/logout">Logout</a>
    </nav>
    {{ end }}
</header>
{{ end }}