{{ define "layout" }}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <!-- Dunno what this all is, just copy-pasted it -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ .GenericData.Title }}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/themes/{{ with .GenericData.Theme }}{{ . }}.css{{ else }}Dark.css{{ end }}">
        <link rel="icon" href="/favicon.ico">
    </head>

    <body>
    {{ template "header" . }}
    <div class="wrapper" id="content">
        {{ template "content" . }}
    </div>
    {{ template "footer" . }}
    </body>

    </html>
{{ end }}
