{{- /*gotype: forum/internal/pages.boardData*/ -}}
{{ define "boardList" }}
    <input id="group-boards" class="group-toggle" type="checkbox">
    <label class="flex-row group-header" for="group-boards"><span>Boards</span></label>
    <div class="group-content">
        {{ range .ChildBoards }}
            {{ if .IsGroup }}
                {{ template "group" . }}
            {{ else }}
                {{ template "board" . }}
            {{ end }}
        {{ end }}
    </div>
{{ end }}

{{ define "group" }}
    <input id="group-{{ .Name }}" class="group-toggle" type="checkbox">
    <label class="flex-row group-header" for="group-{{ .Name }}">{{ .Name }}</label>
    <div class="group-content">
        {{ range .Children }}
            {{ if .IsGroup }}
                {{ template "group" . }}
            {{ else }}
                {{ template "board" . }}
            {{ end }}
        {{ end }}
    </div>
{{ end }}

{{ define "board" }}
    <div class="flex-row board">
        <div class="flex-cell board-base grow">
            <div class="grow"></div>
            <span><a class="board-name" href="/board?id={{ .BoardID }}">{{ .Name }}</a></span>
            <span class="board-desc">{{ .Description.String }}</span>
            <div class="grow"></div>
            {{ with .Children }}
                <span class="board-children">Child boards:
                {{ with index . 0 }}{{ template "subBoard" . }}{{ end }}
                    {{ range slice . 1 }}
                        , {{ template "subBoard" . }}
                    {{ end }}
            </span>
            {{ end }}
        </div>
        {{ with .Extras }}
            <div class="flex-cell board-counts">
                <span>{{ .CountThreads }} threads</span>
                <span>{{ .CountPosts }} posts</span>
            </div>
            <div class="flex-cell board-latest-post">
                <span class="latest-author"><strong>Last post</strong> by
                    <a href="/user?id={{ .LatestAuthorID }}">
                    {{ .LatestAuthor }}
                </a></span>
                <span class="latest-thread">in
                    <a title="{{ .ThreadTitle }}"
                       href="/thread?id={{ .ThreadID }}&post={{ .LatestID }}#{{ .LatestID }}">
                        {{ .ThreadTitle }}
                    </a></span>
                <span class="latest-date">at {{ .LatestDate.Format "2 Jan 2006, 15:04" }}</span>
            </div>
        {{ end }}
    </div>
{{ end }}


{{ define "subBoard" }}
    {{ if .IsGroup }}
        <span class="subgroup">{{ .Name }}...</span>
    {{ else }}
        <a href="/board?id={{ .BoardID }}">{{ .Name }}</a>
    {{ end }}
{{ end }}
