.texture-light,
body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23FFF' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
.texture-dark {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
:root {
  --color-text: #e6e6e6;
  --color-text-semi-1: rgba(230, 230, 230, 0.9);
  --color-text-semi-4: rgba(230, 230, 230, 0.6);
  --color-text-inverted: #1a1a1a;
  --color-text-inverted-semi-1: rgba(26, 26, 26, 0.9);
  --color-text-inverted-semi-4: rgba(26, 26, 26, 0.6);
  --color-link: var(--color-secondary-light-4);
  --color-link-visited: var(--color-secondary-light-3);
  --color-link-hover: var(--color-secondary-light-5);
  --color-border-dark: rgba(0, 0, 0, 0.3);
  --color-border-light: rgba(255, 255, 255, 0.3);
  --color-darken-02: rgba(0, 0, 0, 0.02);
  --color-darken-05: rgba(0, 0, 0, 0.05);
  --color-darken-10: rgba(0, 0, 0, 0.1);
  --color-darken-20: rgba(0, 0, 0, 0.2);
  --color-darken-30: rgba(0, 0, 0, 0.3);
  --color-lighten-02: rgba(255, 255, 255, 0.02);
  --color-lighten-05: rgba(255, 255, 255, 0.05);
  --color-lighten-10: rgba(255, 255, 255, 0.1);
  --color-lighten-20: rgba(255, 255, 255, 0.2);
  --color-lighten-30: rgba(255, 255, 255, 0.3);
  --color-high-contrast-1: #7adf5e;
  --color-error: #f82222;
  --color-success: #1ae01a;
  --color-primary: #454851;
  --color-primary-dark-1: #3e4149;
  --color-primary-dark-2: #373a41;
  --color-primary-dark-3: #303239;
  --color-primary-dark-4: #292b31;
  --color-primary-dark-5: #232429;
  --color-primary-dark-6: #1c1d20;
  --color-primary-dark-7: #151618;
  --color-primary-light-1: #585a62;
  --color-primary-light-2: #6a6d74;
  --color-primary-light-3: #7d7f85;
  --color-primary-light-4: #8f9197;
  --color-primary-light-5: #a2a4a8;
  --color-primary-light-6: #b5b6b9;
  --color-primary-light-7: #c7c8cb;
  --color-secondary: #7BAE7F;
  --color-secondary-dark-1: #6f9d72;
  --color-secondary-dark-2: #628b66;
  --color-secondary-dark-3: #567a59;
  --color-secondary-dark-4: #4a684c;
  --color-secondary-dark-5: #3e5740;
  --color-secondary-dark-6: #314633;
  --color-secondary-dark-7: #253426;
  --color-secondary-light-1: #88b68c;
  --color-secondary-light-2: #95be99;
  --color-secondary-light-3: #a3c6a5;
  --color-secondary-light-4: #b0ceb2;
  --color-secondary-light-5: #bdd7bf;
  --color-secondary-light-6: #cadfcc;
  --color-secondary-light-7: #d7e7d9;
}
